.head1 {
	font-size:40px;
	color:black;
	font-weight:bold;
	text-align: center;
}
.head2 {
	font-size:17px;
	margin-bottom:15px;
	text-align: center;
}
body {
	background-position:center;
	background-size: contain;
}
.messages{
	padding-top: 55px;
	margin-bottom: 0px;

}
.menu {
	position: sticky;
	top: 0;
	background-color: black;
	padding:10px 0px 10px 0px;
	color:white;
	margin: 0 auto;
	overflow: hidden;
	}
.menu a {
	float:left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}
.menu-log {
	right: auto;
	float: right;
}
footer {
	width: 100%;
	bottom: 0px;
	background-color: #000;
	color: #fff;
	position: absolute;
	padding-top:20px;
	padding-bottom:50px;
	text-align:center;
	font-size:30px;
	font-weight:bold;
}
.body_sec {
	margin-left:20px;
}
.todo_table{
	text-align: center;
	display: inline-block;
    float: left;
}
.todo_list{
	position: absolute;
	right: 150px;
	width: 70%;
	height: 300px;
	margin-top: 0px;
}
.left {
	border: solid rgba(128,128,128,0.16) 2px;
	padding: 5px;
}
.todo_box{
	display: inline-block;
	height: fit-content;
	background-color: aliceblue;
	width: fit-content;
	border: 5px solid #cad9f5;
	margin: auto;
}
.todo_d {
    display: inline-block;
    float: left;
	padding: 1%;
	background-color: rgba(245, 0, 66, 0.21);
}

.doing_d {
	display: inline-block;
	float: left;
	padding: 1%;
	background-color: rgba(245, 242, 0, 0.2);
}
.done_d {
    display: inline-block;
    float: left;
	padding: 1%;
	background-color: rgba(75, 245, 0, 0.21)
}

.todo_buttons{
	margin: auto;
	padding: 27%;
	font-size: xx-large;
}
.update_button {
	margin: auto;
	font-size: xx-large;
	background-color: inherit;
  	color: green;
	border: none;
  	cursor: pointer;

}

/* Darker background on mouse-over */
.update_button:hover {
  	color: white;
	background-color: green;
}
.column_header{
	align-content: center;
	font-size: large;
}