<!DOCTYPE html>
<html>
<head>
	<title>Page Layout</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
	<!-- Menu Navigation Bar -->
	<div class="menu">
		<a href="#home">HOME</a>
        <div class="messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor%}
                {% endif%}
            {% endwith%}

        </div>
    </div>
    <br/>

    <div class = "d-flex flex-row body_sec">

        <div class="p-2">
            {% block content %}{% endblock %}
        </div>
        <div class="p-2">
            {% block side %}{% endblock %}
        </div>
    </div>



</body>
</html>
