<!DOCTYPE html>
<html>
<head>
	<title>Page Layout</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}">
    <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<!-- Header Section -->
	<header>
		<div class="head1">BREAK A TAG</div>
		<div class="head2">Get your code hammer and let's break stuff within this silly app!</div>
	</header>

	<!-- Menu Navigation Bar -->
	<div class="menu">
		<a href="#home">HOME</a>
	</div>

	<!-- Body section -->
	<br/>
    <div class = "body_sec">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor%}
            {% endif%}
        {% endwith%}
        <div class="left">
            {% block content %}{% endblock %}
        </div>
        <div class="right">
            {% block side %}{% endblock %}
        </div>
	</div>

	<!-- Footer Section -->
	<footer>KEEP SMACKING!</footer>




</body>
</html>
