{% extends "/layout.html" %}
{% block content %}
    <form method="post">
        <table name="todo_tab;e">
            <tr><td>TODO:</td><td><input id="todo_item" name="todo_item" type="text"></td></tr>
            <tr><td>DUE DATE:</td><td><input id="todo_date" name="todo_date" type="date"></td></tr>
        </table>
        <button>SUBMIT</button>
    </form>
{% endblock content %}


{% block side %}
    <div class="todo_list">
        <ul>
            {% for todo in all_todos %}
                    <div class="todo_box">
                        {{ todo.todo_item }} due on {{ todo.todo_date }}
                        <span class="todo_buttons">
                            <a href="{{ url_for('delete_todo', todo_id = todo.id) }}" class = 'fa fa-trash'></a>
                            {% if todo.done %}
                                <a href="{{ url_for('not_todo', todo_id = todo.id) }}" class="fa fa-times-circle"></a>
                            {% elif not todo.done%}
                                <a href="{{ url_for('not_todo', todo_id = todo.id) }}" class='fa fa-check-circle'></a>
                            {% endif %}
                        </span>
                    </div>
            {% endfor %}
         </ul>
    </div>
{% endblock side %}