{% extends "/layout.html" %}
{% from '/todo_component.html' import todo_component %}
{% from '/add_todo.html' import add_todo %}
{% block content %}
    {{ add_todo() }}
{% endblock content %}


{% block side %}
    <div class="d-flex flex-row">
        <div class="todo_d p-2">
            <h3 class="column_header">TODO</h3>
            <hr/>
            <div class="d-flex flex-column">
                {% for todo in todo_todos %}
                    {{ todo_component(todo) }}
                {% endfor %}
            </div>
        </div>

        <div class="doing_d p-2">
            <h3 class="column_header">DOING</h3>
            <hr/>
            <div class="d-flex flex-column">
                {% for todo in doing_todos %}
                    {{ todo_component(todo) }}
                {% endfor %}
            </div>
        </div>

        <div class="done_d p-2 ">
            <h3 class="column_header">DONE</h3>
            <hr/>
            <div class="d-flex flex-column">
                {% for todo in done_todos %}
                    {{ todo_component(todo) }}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock side %}
